Header {
  background: $secondary-background-lighten-2;
}
Screen { 
  align: center middle;
}
Label {
  text-align: center;
  background: $error;
}
#one {
  text-align: center;
  align: center middle;
}